@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis&display=swap');

:root {
  --shadow: rgba(0, 0, 0, 0.212);
}

body {
  font-family: 'Bebas Neue', cursive;
}
@media (max-width: 600px) {
/* ===== All Pages ===== */
.page {
  height: 900px;
  background-color: ghostwhite;
}

/* ===== Home Page ===== */
.home1 {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin: 0px 0px 150px 0px;
  padding: 10px 0px 40px 0;
  background-color: rgb(222, 204, 180);
  box-shadow: 0px 0px 5px 5px var(--shadow);
  width: 100%;
}
.home1-1 {
  text-align: center;
}
.home1-1 h1 {
  font-size: 3em;
}
.home1-1 img {
  position: fixed;
  top: 1%;
  right: 2%;
  width: 7%;
}
.home1-1 img:hover {
  cursor: pointer;
}
.home1-2 {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.home1-2-1 {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.home1-2-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.home1-2-3 {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.home-img-links {
  width: 50%;
  margin: auto;
}
.home-img-links:hover {
  cursor: pointer;
}
#home-img-1 {
  width: 70%;
  border-radius: 200px;
  border: 10px solid ghostwhite;
  margin: auto;
}
}
